.active
{
  background-color: #F0E8DD;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BF9872;
}

li
{
  float: left;
}

li a
{
  display: block;
  color: #241F19;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover
{
  background-color: #241F19;
  color: #BF9872;
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.keret
{
  height: 500px;
  margin: 3em;
  border: none;
  width: 95%;
}

body
{
  font-family: 'Righteous', cursive;
  background-color: #F0E8DD;
}

h1, h3
{
  color: #724732;
}

h3
{
  text-align: justify;
}

footer
{
  background-color: #BF9872;
  height: 3em;
}

footer p
{
  display: block;
  color: #241F19;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

table
{
  border-collapse: collapse;
  width: 100%;
}

th, td
{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #724732;

}

tr:hover
{
  background-color:#f5f5f5;
  color: #724732;
}
